.section .reveal .state-background { 
    background: #222222;
} 

.section .reveal p { 
    color: #b3d1ff;
    padding: 0;
    margin: 0;
} 

.section .reveal h1 {
    color: #ff3333;
} 

.section .reveal h2 {
    color: #ff3333;
    padding-bottom: 25px;
    margin: 0;
} 

.reveal a:not(.image) { 
    color: #4d4dff;
} 

.section .reveal small { 
    font-size: 0.75em; 
} 

.reveal li { 
    color: #b3d1ff;
    padding:0;
    margin:0;
} 
